$blue : #4b7bec;
$royal-blue: #3867d6;
$dark-blue : #4b6584;
$grey: #778ca3;
$light-grey : #d1d8e0;
$opBlack: rgba(0,0,0,.5);
$orange: #f7b731;
$yellow: #fed330;

//gradient
$yellowGradient: linear-gradient(90deg,$orange, $yellow, $orange);
$blueGradient: linear-gradient(90deg,$royal-blue, $blue, $royal-blue);